apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "logstream-workergroup.fullname" . }}
  labels:
    {{- include "logstream-workergroup.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "logstream-workergroup.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "logstream-workergroup.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: CRIBL_DIST_MASTER_URL
              valueFrom:
                secretKeyRef:
                  name: logstream-config
                  key: url-master
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              value: "0"
          ports: 
            {{-  range .Values.service.svcPorts }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
