---
# Default values for logstream-leader.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

criblImage:
  repository: cribl/cribl
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "3.3.0"

imagePullSecrets: []
nameOverride: "leader"
fullnameOverride: ""
iter: 1

autoscaling:
  enabled: false

config:
  scName:
  license:
  token:
  adminPassword:
  criblHome: /opt/cribl
  rejectSelfSignedCerts: 0
  healthPort: 9000
  groups: []

env: {}

service:
  internalType: ClusterIP
  externalType: LoadBalancer
  annotations: {}
  ports:
    - name: api
      port: 9000
      protocol: TCP
      external: true
    - name: leadercomm
      port: 4200
      protocol: TCP
      external: false

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

ingress:
  enable: false
  annotations: {}

resources:
  limits:
    cpu: 2000m
    memory: 4096Mi
  requests:
    cpu: 500m
    memory: 1024Mi

nodeSelector: {}

tolerations: []

affinity: {}

