---
# Default values for logstream-leader.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

criblImage:
  repository: cribl/cribl
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: 3.5.3

imagePullSecrets: []
nameOverride: "leader"
fullnameOverride: ""
iter: 1

autoscaling:
  enabled: false

config:
  scName:
  license:
  token:
  adminPassword:
  criblHome: /opt/cribl
  rejectSelfSignedCerts: 0
  healthPort: 9000
  # -- Perform health checks on the Leader pod.
  # Recommended that this be enabled to automatically restart the Leader if the Pod is unhealthy
  probes: true
  groups: []

env: {}

service:
  internalType: ClusterIP
  externalType: LoadBalancer
  annotations: {}
  ports:
    - name: api
      port: 9000
      protocol: TCP
      external: true
    - name: leadercomm
      port: 4200
      protocol: TCP
      external: false

strategy:
  type: Recreate
  rollingUpdate:
    maxSurge:
    maxUnavailable:

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

ingress:
  enable: false
  annotations: {}
  tls: {}
#    - hosts:
#        - cribl.example.com
#      secretName: cribl-example-com-tls
  ingressClassName:
  host:

resources:
  limits:
    cpu: 2000m
    memory: 4096Mi
  requests:
    cpu: 500m
    memory: 1024Mi

nodeSelector: {}

tolerations: []

affinity: {}

