# Default values for logstream-workergroup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

rbac:
  create: true
  # name:
  apiGroups: 
  - core
  resources:
  - pods
  verbs:
  - get
  - list
  annotations: {}

serviceAccount:
  create: true
  # name:

criblImage:
  repository: cribl/cribl
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 4.7.1

imagePullSecrets: []
nameOverride: ""

config: 
  host: logstream-leader-internal
  group: kubernetes
  token: criblleader
  useExistingSecret: false
  rejectSelfSignedCerts: 0
  probes: true
  livenessProbe:
    httpGet:
      path: /api/v1/health
      port: 9000
      scheme: HTTP
    initialDelaySeconds: 20
    failureThreshold: 3
  readinessProbe:
    httpGet:
      path: /api/v1/health
      port: 9000
      scheme: HTTP
    initialDelaySeconds: 20
    failureThreshold: 3
  tlsLeader:
    enable: false
  tags: []

deployment: deployment

podAnnotations: {}

nodeSelector: {}
# tolerations: []

#extraPodConfigs:
#  topologySpreadConstraints: []

service:
  type: LoadBalancer
  annotations: {}
  # externalTrafficPolicy: Local
  # loadBalancerSourceRanges:
  #  - "0.0.0.0/0"

  ports:
  - name: tcpjson
    port: 10001
    protocol: TCP
    #nodePort:
  - name: s2s
    port: 9997
    protocol: TCP
    #nodePort:
  - name: http
    port: 10080
    protocol: TCP
    #nodePort:
  - name: https
    port: 10081
    protocol: TCP
    #nodePort:
  - name: syslog
    port: 5140
    protocol: TCP
    #nodePort:
  - name: metrics
    port: 8125
    protocol: TCP
    #nodePort:
  - name: elastic
    port: 9200
    protocol: TCP
    #nodePort:
  - name: hec
    port: 8088
    protocol: TCP
    #nodePort:
  - name: criblhttp
    port: 10200
    protocol: TCP
    #nodePort:
  - name: cribltcp
    port: 10300
    protocol: TCP
    #nodePort:

resources: 
  limits:
    cpu: 2000m
    memory: 4096Mi
  requests:
    cpu: 1250m
    memory: 256Mi

# Replacement Strategy
#strategy:
#  type: RollingUpdate
#  rollingUpdate:
#    maxSurge: 25%
#    maxUnavailable: 25%

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
  behavior: {}
#    scaleUp:
#     stabilizationWindowSeconds: 300
#     policies:
#     - type: Pods
#       value: 1
#       periodSeconds: 60
#    scaleDown:
#     stabilizationWindowSeconds: 300
#     policies:
#     - type: Pods
#       value: 1
#       periodSeconds: 180

# -- K8s ingress resources
# @default -- see `values.yaml`
ingress:
  # -- Enable creation of ingress resources
  enable: false
  # Annotations applied to all ingresses
  annotations: {}
  # `ingressClassName` applied to all ingresses
  ingressClassName:
  # Array of ingresses (each entry will become an Ingress resource)
  # You must define your ingress resources!
  ingress: []
#    - name: ingress-example
#      # TLS secrets for this ingress
#      tls: {}
#      # Override the ingressClassName for this ingress
#      ingressClassName:
#      # Annotation overrides (merged with defaults)
#      annotations: {}
#      # Array of Ingress rules
#      # https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-rules
#      rules:
#        - host: ingress.example.com
#          paths:
#            - path: /*
#              port: 8088
#        - host: ingress2.example.com
#          paths:
#            - path: /exact/path/matching
#              # Other path kinds can be specified (default is Prefix)
#              # https://kubernetes.io/docs/concepts/services-networking/ingress/#path-types
#              kind: Exact
#              port: 8080
#            - path: /*
#              port: 8082
#        # Example default rule without host name
#        - paths:
#            - path: /*
#              port: 8088

# Extra manifests to be deployed
extraObjects: {}

# Applies extra labels to all resources deployed with this chart
extraLabels: {}
# key: value
# key2: value2

# Extra volumes to mount into each pod
extraVolumeMounts: {}
# For deployments and daemonsets use `existingClaim`
# - name: test-volume
#   mountPath: /var/tmp/test-volume
#   readOnly: false
#   existingClaim: test-volume-claim

# For statefulsets use `claimTemplate`
# - name: test-volume
#   mountPath: /var/tmp/test-volume
#   readOnly: false
#   claimTemplate: 
#     metadata:
#       name: test-volume
#     spec:
#       accessModes: [ "ReadWriteOnce" ]
#       resources:
#         requests:
#           storage: 1Gi