# Default values for logstream-workergroup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

rbac:
  create: true
  apiGroups: 
  - core
  resources:
  - pods
  verbs:
  - get
  - list
  annotations: {}

criblImage:
  repository: cribl/cribl
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: 4.0.3

imagePullSecrets: []
nameOverride: ""

config: 
  host: logstream-leader-internal
  group: kubernetes
  token: criblleader
  rejectSelfSignedCerts: 0
  healthPort: 9000
  probes: true
  tlsLeader:
    enable: false

deployment: deployment

podAnnotations: {}


service:
  type: LoadBalancer
  annotations: {}
  # externalTrafficPolicy: Local
  # loadBalancerSourceRanges:
  #  - "0.0.0.0/0"

  ports:
  - name: tcpjson
    port: 10001
    protocol: TCP
  - name: s2s
    port: 9997
    protocol: TCP
  - name: http
    port: 10080
    protocol: TCP
  - name: https
    port: 10081
    protocol: TCP    
  - name: syslog
    port: 5140
    protocol: TCP
  - name: metrics
    port: 8125
    protocol: TCP
  - name: elastic
    port: 9200
    protocol: TCP
  - name: hec
    port: 8088
    protocol: TCP
  - name: criblhttp
    port: 10200
    protocol: TCP
  - name: cribltcp
    port: 10300
    protocol: TCP

resources: 
  limits:
    cpu: 2000m
    memory: 4096Mi
  requests:
    cpu: 1250m
    memory: 256Mi


autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
  behavior: {}
#    scaleUp:
#     stabilizationWindowSeconds: 300
#     policies:
#     - type: Pods
#       value: 1
#       periodSeconds: 60
#    scaleDown:
#     stabilizationWindowSeconds: 300
#     policies:
#     - type: Pods
#       value: 1
#       periodSeconds: 180

# -- K8s ingress resources
# @default -- see `values.yaml`
ingress:
  # -- Enable creation of ingress resources
  enable: false
  # Annotations applied to all ingresses
  annotations: {}
  # `ingressClassName` applied to all ingresses
  ingressClassName:
  # Array of ingresses (each entry will become an Ingress resource)
  # You must define your ingress resources!
  ingress: {}
#    - name: ingress-example
#      # TLS secrets for this ingress
#      tls: {}
#      # Override the ingressClassName for this ingress
#      ingressClassName:
#      # Annotation overrides (merged with defaults)
#      annotations: {}
#      # Array of Ingress rules
#      # https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-rules
#      rules:
#        - host: ingress.example.com
#          paths:
#            - path: /*
#              port: 8088
#        - host: ingress2.example.com
#          paths:
#            - path: /exact/path/matching
#              # Other path kinds can be specified (default is Prefix)
#              # https://kubernetes.io/docs/concepts/services-networking/ingress/#path-types
#              kind: Exact
#              port: 8080
#            - path: /*
#              port: 8082
#        # Example default rule without host name
#        - paths:
#            - path: /*
#              port: 8088
