# Default values for logstream-workergroup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

criblImage:
  repository: cribl/cribl
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "2.3.3"

imagePullSecrets: []
nameOverride: ""

config: 
  host: logstream-master
  tag: kubernetes
  token: criblmaster


podAnnotations: {}


service:
  type: LoadBalancer
  annotations: {}

  ports:
  - name: tcpjson
    port: 10001
    protocol: TCP
  - name: s2s
    port: 9997
    protocol: TCP
  - name: http
    port: 10080
    protocol: TCP
  - name: https
    port: 10081
    protocol: TCP    
  - name: syslog
    port: 5140
    protocol: TCP
  - name: metrics
    port: 8125
    protocol: TCP
  - name: elastic
    port: 9200
    protocol: TCP

resources: 
  limits:
    cpu: 2000m
    memory: 1024Mi
  requests:
    cpu: 1250m
    memory: 256Mi


autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
  # targetMemoryUtilizationPercentage: 80

